{% if page.url contains 'volby-2018' %}
<nav class="c-top-sub-nav u-center-860-down">
  <div class="row">
    <div class="c-top-sub-nav-inner">
      <div class="u-cf">
        <div class="c-top-sub-nav-header">
          <div class="c-top-sub-nav__heading"> Volby 2018 </div>
        </div>
        <div class="c-top-sub-nav-divider"></div>
        <ul class="c-top-sub-nav-items">
          <li class="c-top-sub-nav__item">
            <a href="{{'/volby-2018/komunalni.html' | relative_url }}"> Komunální </a>
          </li>
          <li class="c-top-sub-nav__item">
            <a href="{{'/volby-2018/senatni.html' | relative_url }}"> Senátní </a>
          </li>
          <li class="c-top-sub-nav__item">
            <a href="{{'/volby-2018/obecny-program.html' | relative_url }}"> Obecný program </a>
          </li>
          <li class="c-top-sub-nav__item">
            <a href="{{'/volby-2018/ovk.html' | relative_url }}"> OVK </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
{% endif %}
