{% if page.url contains 'krajske-volby' %}
<nav class="c-top-sub-nav u-center-860-down">
  <div class="row">
    <div class="c-top-sub-nav-inner">
      <div class="u-cf">
        
        <div class="c-top-sub-nav-divider"></div>
        <ul class="c-top-sub-nav-items">
          <li class="c-top-sub-nav__item">
            <a href="{{'/krajske-volby/kandidati.html' | relative_url }}"> Kandidáti </a>
          </li>
          <li class="c-top-sub-nav__item">
            <a href="{{'/krajske-volby/program.html' | relative_url }}"> Program </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
{% endif %}
